.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 60px;
  .navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 0 30px;
    height: 100%;
  }
}
